.mother {
  margin-bottom: 20px;
}

.mother1 {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.group1-1 {
  display: flex;
}

.group1-2 {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.children1 {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}

.mother2 {
  border: 1px solid red;
  height: 350px;
}

.group2-1 {
  display: flex;
}

.group2-2 {
  display: flex;
  justify-content: center;
}

.group2-3 {
  display: flex;
  justify-content: flex-end;
}

.children2 {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.mother3 {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.children3-1 {
  background-color: skyblue;
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
}

.children3-2 {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.mother4 {
  border: 1px solid red;
  height: 250px;
  position: relative;
}

.children4-1 {
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.children4-2 {
  background-color: orange;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.mother5 {
  border: 1px solid red;
  display: flex;
  justify-content: flex-end
}

.children5-1 {
  background-color: rgb(162, 224, 162);
  width: 350px;
  height: 150px;
  position: relative;
}

.children5-2 {
  background-color: rgb(85, 211, 85);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.children5-3 {
  background-color: rgb(2, 61, 2);
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
